In [1]:
import pandas as pd
import os
import requests
import glob

  
path = ("/Users/chris/codeup-data-science/time_series_exercises/fitbit")
  
all_files = glob.glob(path + "/*.csv")

li = []
my_cols=['Foods','Activities','Date','Calories Burned','Steps','Distance','Floors','Minutes Sedentary','Minutes Lightly Active','Minutes Fairly Active','Minutes Very Active','Activity Calories']

for filename in all_files:

    df = pd.read_csv(filename, index_col=None, names=my_cols, engine = 'python')

    li.append(df)

df = pd.concat(li, axis=0, ignore_index=False,)

In [2]:
df.head(40)

,Foods,Activities,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,Foods,None,None,None,None,None,None,None,None,None,NaN,NaN
1,Date,Calories In,None,None,None,None,None,None,None,None,NaN,NaN
2,2018-09-27,0,None,None,None,None,None,None,None,None,NaN,NaN
3,2018-09-28,0,None,None,None,None,None,None,None,None,NaN,NaN
4,2018-09-29,0,None,None,None,None,None,None,None,None,NaN,NaN
5,2018-09-30,0,None,None,None,None,None,None,None,None,NaN,NaN
6,2018-10-01,0,None,None,None,None,None,None,None,None,NaN,NaN
7,2018-10-02,0,None,None,None,None,None,None,None,None,NaN,NaN
8,2018-10-03,0,None,None,None,None,None,None,None,None,NaN,NaN
9,2018-10-04,0,None,None,None,None,None,None,None,None,NaN,NaN
10,2018-10-05,0,None,None,None,None,None,None,None,None,NaN,NaN
11,2018-10-06,0,None,None,None,None,None,None,None,None,NaN,NaN
12,2018-10-07,0,None,None,None,None,None,None,None,None,NaN,NaN
13,2018-10-08,0,None,None,None,None,None,None,None,None,NaN,NaN
14,2018-10-09,0,None,None,None,None,None,None,None,None,NaN,NaN
15,2018-10-10,0,None,None,None,None,None,None,None,None,NaN,NaN
16,2018-10-11,0,None,None,None,None,None,None,None,None,NaN,NaN
17,2018-10-12,0,None,None,None,None,None,None,None,None,NaN,NaN
18,2018-10-13,0,None,None,None,None,None,None,None,None,NaN,NaN
19,2018-10-14,0,None,None,None,None,None,None,None,None,NaN,NaN
20,2018-10-15,0,None,None,None,None,None,None,None,None,NaN,NaN
21,2018-10-16,0,None,None,None,None,None,None,None,None,NaN,NaN
22,2018-10-17,0,None,None,None,None,None,None,None,None,NaN,NaN
23,2018-10-18,0,None,None,None,None,None,None,None,None,NaN,NaN
24,2018-10-19,0,None,None,None,None,None,None,None,None,NaN,NaN
25,2018-10-20,0,None,None,None,None,None,None,None,None,NaN,NaN
26,2018-10-21,0,None,None,None,None,None,None,None,None,NaN,NaN
27,2018-10-22,0,None,None,None,None,None,None,None,None,NaN,NaN
28,2018-10-23,0,None,None,None,None,None,None,None,None,NaN,NaN
29,2018-10-24,0,None,None,None,None,None,None,None,None,NaN,NaN
30,2018-10-25,0,None,None,None,None,None,None,None,None,NaN,NaN
31,2018-10-26,0,None,None,None,None,None,None,None,None,NaN,NaN
32,2018-10-27,0,None,None,None,None,None,None,None,None,NaN,NaN
33,Activities,None,None,None,None,None,None,None,None,None,NaN,NaN
34,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,NaN,NaN
35,2018-09-27,"3,348","9,751",4.6,7,849,167,10,42,"1,427",NaN,NaN
36,2018-09-28,"2,970","4,531",2.14,4,775,235,0,0,"1,068",NaN,NaN
37,2018-09-29,"3,043","7,043",3.32,5,788,218,4,5,"1,220",NaN,NaN
38,2018-09-30,"4,184","15,991",7.54,9,652,254,45,72,"2,504",NaN,NaN
39,2018-10-01,"3,180","8,307",3.92,8,813,201,5,24,"1,330",NaN,NaN

In [3]:
df.to_csv('fitbit.csv')

In [4]:
df

,Foods,Activities,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,Foods,None,None,None,None,None,None,None,None,None,NaN,NaN
1,Date,Calories In,None,None,None,None,None,None,None,None,NaN,NaN
2,2018-09-27,0,None,None,None,None,None,None,None,None,NaN,NaN
3,2018-09-28,0,None,None,None,None,None,None,None,None,NaN,NaN
4,2018-09-29,0,None,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
345,NaN,Fiber,0 g,None,None,None,None,None,None,None,NaN,NaN
346,NaN,Carbs,0 g,None,None,None,None,None,None,None,NaN,NaN
347,NaN,Sodium,0 mg,None,None,None,None,None,None,None,NaN,NaN
348,NaN,Protein,0 g,None,None,None,None,None,None,None,NaN,NaN
349,NaN,Water,0 fl oz,None,None,None,None,None,None,None,NaN,NaN